* {
  box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

main {
  display: block;
}

body {
  margin: 0;
  font-family: $default-font;
  font-size: 16px;
  overflow-x: hidden;
}
